<!-- import post-info partial -->
{{> post-info post}}

<!-- conditionally render element -->
{{#if loggedIn}}
<!-- add comment form -->
<form id="comment-form" class="box container is-fluid py-1">
    <div class="has-text-centered has-text-weight-bold is-size-4 my-4">
        <div>
            <label for="comment-textarea" class="form-label fs-5 fw-semibold">Add Comment</label>
            <textarea id="comment-textarea" name="comment-textarea" class="form-control border border-2 border-medium fs-5"></textarea>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="mt-5 button is-info is-rounded is-fullwidth">
                <i class="bi bi-chat-square"></i>
                Comment
            </button>
        </div>
    </div>
</form>
{{/if}}

<!-- import comments partial -->
{{> comments post.comments}}

<!-- conditionally render script -->
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}